
server {

    listen 80;
    root /mnt/sources/documentation-dev/site;
    index index.html;
    server_name documentation.local.wetest.io;

    access_log /var/log/nginx/documentation.access.log;
    error_log /var/log/nginx/documentation.error.log;

    location / {
        try_files $uri $uri/ =404;
    }

}
