
server {

    listen 80;
    root /mnt/sources/static;
    index index.html;
    server_name static.local.wetest.io;

    access_log /var/log/nginx/static.access.log;
    error_log /var/log/nginx/static.error.log;

    location / {
        autoindex on;
    }

}